<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PollsX | {% block title %}{% endblock %}</title>

        {% load static %}
        <link href="{% static 'polls/style.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div class="sidenav">
            <a href="{% url 'polls:index' %}">
                <div class="item">PollsX</div>
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'polls:admin' %}">
                    <div class="item">Administration</div>
                </a>
                <a href="{% url 'polls:logout' %}">
                    <div class="item">Log out</div>
                </a>
            {% else %}
                <a href="{% url 'polls:login' %}">
                    <div class="item">Log in</div>
                </a>
                <a href="{% url 'polls:signup' %}">
                    <div class="item">Sign up</div>
                </a>
            {% endif %}
        </div>
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
